$opal: #a2c0be;
$alto: #dfdfdf;
$white: #ffffff;
$black: #000000;
$silver: #cccccc;
$boulder: #7d7d7d;
$paleSky: #6c757d;
$gallery: #f0eeee;
$athensGray: #eff1f3;
$gray: #808080;
$outerSpace: #343a3f;
$edward: #9cadac;
$nobel: #b3b3b3;
$hitGray: #a8b1b8;
$mineralGreen: #405a58;
$mineShaft: #333333;
$dustyGray: #999999;

