@import 'bootstrap/dist/css/bootstrap.min.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: transparent;
    color: gray;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.5s ease;
  }

  section {
    &.sub-hero {
        height: 100vh;
    }

    .sub-p {
        color: #999;
        font-size: 1.2rem;
        line-height: 1.5;
        font-weight: 300;   
    }

    p {
        font-weight: 400;
        padding: 0 0.5rem;
    }
    
    .main-color {
        color: #a2c0be;
        transition: color 0.3s ease;

        &:hover {
            color: #819997;
        }
    }
  }

  aside {
      .search-form {
        background-color: rgb(247, 247, 247);
        padding: 0.5rem;
    }  

    .slidebar-box:not(.input-box) {
        padding: 24px;
    }
    .ul-categories {
        li {
            border-bottom: 1px solid lightgray;
            padding: 0.5rem 0;
            position: relative;
        }

        a {
            color: #a2c0be;
            text-decoration: none;
            background-color: transparent;
        
        }
        
        span {
            display: block;
            position: absolute;
            top: 0.5rem;
            right: 0;
        }
    }
  }

.lead {
    line-height: 2rem;
}

h3 {
    &.sub-h3 {
        font-size: 1.8rem;
        color: rgb(128, 128, 128);
    }
}

li {
    &.comment::before {
        content: ' ';
    }
    &.comment img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }
}

.comment {
    .sub-h4 {
        font-size: 20px;
        color: rgb(128, 128, 128);
    }
    
    .sub-span {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: .1em;
        color: #ccc;
    }

    .reply {
        text-transform: uppercase;
        color: black;
        background-color: #e6e6e6;
        padding: 5px 10px;
        font-size: 14px;
        transition: all 0.5s ease;

        &:hover {
            color: white;
            background-color: #726f6f;
        }
    }
}

.form {
    label {
        padding: 1rem 0;
    }
}

.sub-h4 {
    font-size: 18px;
margin-bottom: 15px;
color: gray
}

footer {
    &.article {
        background-color: transparent;
    }
}